/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./shared
 *= require font-awesome
 *= require_self
 *= require bootsy
 */

.center-block {
  float: none !important;
}

body {
  background-image: url('/assets/white_carbonfiber.png');
}

.login-navbar {
  padding: 10px 25px 25px 25px;
  min-width: 250px;
  color: #fff;
}

#section-navbar {
  margin-bottom: 0;
}

textarea {
  min-height: 350px;
}

.main-container {
  background-color: #fff;
}

.navbar-nav > li > a.facebook {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-nav > li > a.facebook:hover {
  background-color: #3030cb;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-nav > li > a.twitter {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navbar-nav > li > a.twitter:hover {
  background-color: #1ac3f5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content {
  margin: 25px;
}

.content-title {
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 25px;
  padding: 15px;
}


.centered {
  text-align: center;
}
