// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document-container {
  margin-top: 100px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.alert-documents {
  margin: 10px;
  border-radius: 5px;
}

.panel-title {
  font-size: 13px;
  font-weight: bold;
}
